.nav {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid gray;
    height: 80px;
}
.nav img{
    height: 33px;
    width: auto;
    margin-top: 22px;
}
.busqueda{
    border: 1px solid gray;
    height: 40px;
    width: 400px;
    border-radius: 20px;
    margin-left: 100px;
    margin-top: 22px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contenido{
    margin-top: 120px;
}
.fotos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.fotos img{
    height: 300px;
    width: 300px;
    border-radius: 20px;
}
.fotoDesc{
    display: flex;
    flex-direction: column;
}
.map{
    border-bottom: 1px solid gray;
    background-color: #2e3136;
    height: 50px;
    width: 200px;
    position: fixed;
    top: 85vh;
    z-index: 1;
    margin-left: 44.5%;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    color: white;
}

@media screen and (max-width: 1000px) {
    .fotos{
        flex-direction: column;
    }
}